<div id="<%= dom_id message %>" class="message">

<div class = "ShowMail">
<p> <%= message.email %>  </p>
</div>
<div class = "ShowMessage">
:<%= message.content %>
</div>
 <div class="DeleteMessage">
 <%= button_to 'Delete', message, method: :delete, data: {confirm: 'Are you sure?' } %>
 </div>
</div>